@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  background-color: lavenderblush;
  padding: 0;
  margin: 0;
  height: 800px;
  text-align: center;
}
h1 {
  font-size: 4rem;
  letter-spacing: 10px;
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}
.buttons {
  padding: 5%;
  max-width: 25%;
  margin: 0 auto;
}
.buttons-grid {
  margin: 10% auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 50px);

}